@import "../../Common/variables.scss";

button {
  width: 6.25rem;
  height: 2.125rem;
  border: none;
  border-radius: 5rem;
  background: $primaryColor;
  cursor: pointer;

  &:hover {
    background: #ffe302;
  }

  &:disabled {
    background: #b4b4b4;
  }
}
