.card {
  display: flex;
  height: 15.875rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  border-radius: 0.625rem;
  background: #fff;

  img {
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 4.375rem;
  }

  .textContent {
    max-width: 20rem;
    display: flex;
    flex-direction: column;
  }

  p {
    margin: 0;
    white-space: nowrap;
  }
}

.tooltip {
  display: inline-block;
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.tooltip .tooltipText {
  position: absolute;
  visibility: hidden;
  width: -webkit-fill-available;
  top: 100%;
  left: 50%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  overflow-wrap: break-word;
  z-index: 1;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}
