@import "../../../Common/variables.scss";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
  border-radius: 0.625rem;
  background: #fff;

  &:last-child {
    margin-bottom: 0;
  }
}

img {
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 4.375rem;
}

.textContent {
  max-width: 20rem;
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
    white-space: nowrap;
  }

  span:first-child {
    margin: 1.25rem 0;
  }
}

.tooltip {
  display: inline-block;
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.tooltip .tooltipText {
  width: -webkit-fill-available;
  position: absolute;
  margin: 0;
  padding: 0.1875rem 1rem;
  border-radius: 0.25rem;
  top: 100%;
  left: 10%;
  background-color: black;
  color: #fff;
  overflow-wrap: anywhere;
  visibility: hidden;
  z-index: 1;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}

@media screen and (min-width: $tabletDisplay) {
  .card {
    margin: 0;
  }
}
