@import "../../Common/variables.scss";

.hero {
  display: flex;
  width: 100%;
  height: 31.25rem;
  align-items: center;
  justify-content: center;
  color: #fff;

  .textContent {
    width: calc(100% - 2rem);
    max-width: 23.75rem;

    h1 {
      margin-bottom: 1.31rem;
    }

    p {
      margin-bottom: 2rem;
    }
  }

  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("../../img/HeroBanner/heroBanner360.png") no-repeat;
}

@media screen and (min-width: $mobileDisplay) and (max-width: $tabletDisplay) {
  .hero {
    background: url("../../img/HeroBanner/heroBanner768.png") no-repeat;
  }
}

@media screen and (min-width: $tabletDisplay) and (max-width: $laptopDisplay) {
  .hero {
    background: url("../../img/HeroBanner/heroBanner1024.png") no-repeat;
  }
}

@media screen and (min-width: $laptopDisplay) {
  .hero {
    background: url("../../img/HeroBanner/heroBanner2560.png") no-repeat;
  }
}
