@import "../../../Common/variables.scss";

form {
  width: 100%;
}

.positions {
  display: flex;
  margin-top: 2.69rem;
  flex-direction: column;
  align-items: flex-start;

  p {
    margin-bottom: 0.69rem;
  }
}

.position {
  display: flex;
  margin-bottom: 0.44rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  label {
    cursor: pointer;
  }

  input {
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
  }

  p {
    margin: 0;
  }
}

input[type="radio"] {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}

input[type="radio"]:checked + .customRadio {
  border-color: $secondaryColor;
  position: relative;

  &::before {
    content: "";
    display: block;
    background-color: $secondaryColor;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.radioLabel {
  display: flex;
  align-items: center;
}

.customRadio {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  border: 0.0625rem solid $inputBorderColor;
  border-radius: 100%;
  margin-right: 0.75rem;
  box-sizing: border-box;
}

@media screen and (min-width: $tabletDisplay) {
  form {
    width: 23.8rem;
  }
}
