@import "./reset.scss";

@import "./Common/variables.scss";

body {
  margin: 0;
  h1 {
    @include headingFont;
  }

  p, button {
    @include textFont;
  }

  background: $backgroundColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
